<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body id="body-about">
    <h1>Mini Bio</h1>
    <div id="mini-bio">
        <p>One of the most influential personalities in the history of cinema, Steven Spielberg is Hollywood's best known director and one of the wealthiest filmmakers in the world. He has an extraordinary number of commercially successful and critically acclaimed credits to his name, either as a director, producer or writer since launching the summer blockbuster with Jaws (1975), and he has done more to define popular film-making since the mid-1970s than anyone else.</p>
    </div>
    <img id="img-jaws" src="/images/jaws.jpg"/>
    <div>
        <a href="/home"><button id="button">Home</button></a>
        <a href="/works"><button id="button">Filmography</button></a>
        <a href="/gallery"><button id="button">Gallery</button></a>
    </div>
</body>
</html>