<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body id="body-gallery">
    <h1>Gallery</h1>
    <div id="gallery">
        <img id="img-jaws-poster" src="/images/jaws-poster.jpg"/>
        <img id="img-et" src="/images/et.jpg"/>
        <img id="img-empire" src="/images/empire-of-sun.jpg"/>
        <img id="img-jurassic" src="/images/jurassic.jpg"/>
        <img id="img-schindlers" src="/images/schindlers-list.jpg"/>
    </div>
    <div id="gallery-2">
        <img id="img-ai" src="/images/ai.jpg"/>
        <img id="img-minority" src="/images/minority-report.jpg"/>
        <img id="img-catch-me" src="/images/catch-me.jpg"/>
        <img id="img-war-worlds" src="/images/war-worlds.jpg"/>
        <img id="img-lincoln" src="/images/lincoln.jpg"/>
    </div>
    <div>
        <a href="/home"><button id="button">Home</button></a>
        <a href="/about"><button id="button">Mini Bio</button></a>
        <a href="/works"><button id="button">Filmography</button></a>
    </div>
</body>
</html>