<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body id="body-home">
    <h1>Steven Spielberg</h1>
    <img id="img-spielberg-home" src="/images/steven-spielberg.jpg"/>
    <h3 id="h3"><i>One of the greatest directores of all time</i></h3>
    <div>
        <a href="/about"><button id="button">Mini Bio</button></a>
        <a href="/works"><button id="button">Filmography</button></a>
        <a href="/gallery"><button id="button">Gallery</button></a>
    </div>
</body>
</html>