<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKS</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body id="body-works">
    <h1>Filmography</h1>
    <div id="lists">
        <ul id="list1">
            <li>1971 - Duel</li>
            <li>1974 - The Sugarland Express</li>
            <li>1975 - Jaws</li>
            <li>1977 - Close Encounters of the Third Kind</li>
            <li>1979 - 1941</li>
            <li>1981 - Raiders of the Lost Ark	</li>
            <li>1982 - E.T.</li>
            <li>1984 - Indiana Jones and the Temple of Doom</li>
            <li>1985 - The Color Purple</li>
            <li>1987 - Empire of the Sun</li>
            <li>1989 - Always</li>
            <li>1989 - Indiana Jones and the Last Crusade	</li>
            <li>1991 - Hook	</li>
            <li>1993 - Jurassic Park</li>
            <li>1993 - Schindler's List</li>
            <li>1997 - The Lost World: Jurassic Park</li>
            <li>1997 - Amistad</li>
            <li>1998 - Saving Private Ryan</li>
        </ul>
        <ul id="list2">
            <li>2001 - A.I. Artificial Intelligence</li>
            <li>2002 - Minority Report	20th Century Fox</li>
            <li>2002 - Catch Me If You Can</li>
            <li>2004 - The Terminal</li>
            <li>2005 - War of the Worlds</li>
            <li>2005 - Munich</li>
            <li>2008 - Indiana Jones and the Kingdom of the Crystal Skull</li>
            <li>2011 - The Adventures of Tintin</li>
            <li>2011 - War Horse</li>
            <li>2012 - Lincoln</li>
            <li>2015 - Bridge of Spies</li>
            <li>2016 - The BFG</li>
            <li>2017 - The Post</li>
            <li>2018 - Ready Player One</li>
            <li>2021 - West Side Story</li>
            <li>2022 - The Fabelmans</li>
        </ul>
    </div>
    <div>
        <a href="/home"><button id="button">Home</button></a>
        <a href="/about"><button id="button">Mini Bio</button></a>
        <a href="/gallery"><button id="button">Gallery</button></a>
    </div>
</body>
</html>